# Rendered from chezmoi init data; re-init to change persistent choices.
installSshServer={{ .installSshServer }}
sshMode={{ .sshMode }}
sshPort={{ .sshPort }}
installTermuxBoot={{ .installTermuxBoot }}
termuxWakeLock={{ .termuxWakeLock }}
installCodingAgents={{ .installCodingAgents }}
optionalTools={{ .optionalTools }}
